<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
<p>
    Splurty was built by <a target="_blank" href="https://avneeshsawhney.netlify.com/">Avneesh</a>. Splurty will generate a random quote for you, and will also allow quotes inputted by the user to the database. 
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
 <div class="row">

  <div class="col-12 col-sm-4">
      <%= image_tag 'Avneesh.jpg', class: 'img-fluid' %>
    </div>


    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Avneesh Sawhney</h2>
      <br />
      <p>
        Avneesh Sawhney is a student at Pepperdine University where he is currently pursuing a degree in Finance. He also is a web developer and is currently studying coding at the UC Berekeley Coding Bootcamp. 
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />